@charset "utf-8";

/* CSS Document */

.div1 {
	margin: auto;
    width: 40%;
	height: 250px;
	background-color: #DCDCDC;
	border: 1px solid gray;
}
#value1, #value2 {
	border: 1px thin green;
	font-size: 24px;
	 text-align: right; 
}
.div2 {
	padding: 10px;
	text-align: center;
}
.op {
	width: 30px;
	height: 30px;
}
#btnres {
	width: 100px;
	height: 40px;
	font-size: 24px;
}
#result {
	font-size: 24px;
	text-align: right; 
}